# Cache and logs (Symfony2)
backend/app/cache/*
backend/app/logs/*
!backend/app/cache/.gitkeep
!backend/app/logs/.gitkeep

# Cache and logs (Symfony3)
/var/cache/*
/var/logs/*
!backend/var/cache/.gitkeep
!backend/var/logs/.gitkeep

# Parameters
backend/app/config/parameters.yml
backend/app/config/parameters.ini

# Managed by Composer
backend/app/bootstrap.php.cache
/var/bootstrap.php.cache
backend/bin/*
!backend/bin/console
!backend/bin/symfony_requirements
backend/vendor/

# Assets and user uploads
backend/web/bundles/
backend/web/uploads/

# PHPUnit
backend/app/phpunit.xml
backend/phpunit.xml

# Composer PHAR
/composer.phar

frontend/platforms/firefoxos/cordova/node_modules/*
frontend/platforms/firefoxos/cordova/lib/*
frontend/platforms/firefoxos/www/*

frontend/platforms/browser/cordova/node_modules/*
frontend/platforms/browser/cordova/lib/*
frontend/platforms/browser/www/*

frontend/platforms/android/cordova/node_modules/*
frontend/platforms/android/cordova/lib/*
frontend/platforms/android/CordovaLib/ant-build/
frontend/platforms/android/ant-build/
frontend/platforms/android/assets/*

