

body {
    height:100%;
    margin: 0%;
    padding: 0%;
}

html {
    height:100%;
}

.flex-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.flex-container > div
{
    flex: 1 1 auto;
}

.auto-width {
    width: auto;
}

#test {
    background-color: red;
}

#top {
    flex: none;
}

#footer {
    flex: none;
    /*height: 10%;*/
}

#apero-button {
    background-color: lightblue;
    border-radius: 5px;
    text-align: center;
    margin-top: auto;
    margin: 1%;
    flex: 0 0 20%;
}

#apero-list {
    margin: 1%;
    padding: 2%;
    background-color: lightblue;
    border-radius: 5px;
    overflow: scroll;
    /*height: 50%;*/
    flex: 1 1 main-size;
}

.reset-margin {
    margin: 0px;
    padding: 0px;    
}