

body {
    height:100%;
    margin: 0%;
    padding: 0%;
}

html {
    height:100%;
}

#main-view {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.hidden { visibility: hidden; }

#test {
    background-color: red;
}

#top {
    flex: none;
    padding-left: 2%;
    padding-top: 2%;
}

#footer {
    flex: none;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 1%;
    font-size: 0.6em;
    text-align: right;
}

#apero-button {
    flex: 0 0 10%;
    border-radius: 5px;
    background-image: url(../img/beer-128.png);
    background-size: 10vh;
    background-repeat: no-repeat;
    background-position: 2%, 2%;
    text-align: center;
    margin: 2%;
    width: 96%;

    font-style: italic;
    font-weight: bold;
    font-size: 5vh;
}

.color-dead {
    background-color: #80e5ff;
}

#edit-panel {
    flex: 1 1 main-size;
    border-radius: 5px;
    margin-left: 2%;
    margin-right: 2%;
    overflow: auto;
    height: 100%
}

#user-setup {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
    background-color: ffdead;
    border-radius: 5px;
}

#user-setup > div {
    flex: 1 1 main-size;
    width: 100%;
    height: 100%;
    text-align: center;
}

#user-setup > div > input {
    width: 92%;
    margin: 2%;
}

#user-setup > button {
    flex: none;
    width: 96%;
    margin: 2%;
    margin-bottom: 4%;
    padding: 3%;
    border-radius: 5px;
    font-size: 2em;
}

#apero-list {
}

.apero-item {
    width: 90%;
    background-color: rgba(102, 206, 233, 1);
    border-radius: 5px;
    padding: 3%;
    margin: 2%;
}

.apero-item.selected {
    background-color: white;
    box-shadow: 0px 3px rgba(102, 206, 233, 1);
}

.current-apero-item {
    background-color: rgba(106, 221, 107, 1);
    box-shadow: 0px 3px rgba(13, 113, 7, 1);
}

.no-apero-item {
    width: 92%;
    border-radius: 5px;
    padding: 3%;
    margin: 1%;
    font-style: italic;
}

.reset-margin {
    margin: 0px;
    padding: 0px;    
}

#apero-wizard {
    height: 96%;
    width: 98%;
    margin: 2%;
    display: flex;
    flex-direction: column;
}

.wizard-field {
    flex: 0 0 auto;
    width: 98%;
    margin: 0%;
    padding: 0%;
}

.wizard-field > input {
    width: 96%;
    margin: 0%;
}

#apero-wizard > textarea {
    flex: 3 1 auto;
    width: 94%;
    padding:2%;
    margin: 0%;
    border: none;
    border-radius: 10px;
    spellcheck: true;
    resize: none;
}

.button-pair {
    width: 100%;
    margin-bottom: 3px;
}

button {
    border: none;
    font-weight: bold;
}

input {
    padding:2%;
    border: none;
    border-radius: 5px;
    background-color: white;
}

.button-pair > button {
    flex: 0 0 10%;
    width: 48%;
    float: left;
    border-radius: 6px;
    margin-top: 2%;
    height: 32px;
    font-size: 1.5em;
}

#apero-cancel {
    margin-right: 1%;
}

#apero-ok {
    margin-left: 1%;
}

.grey-button {
    background-color: rgba(200, 200, 200, 1);
    box-shadow: 0px 3px rgba(120, 120, 120, 1);
}

.blue-button {
    color: #0055d4;
    background-color: #80e5ff;
    box-shadow: 0px 3px #0f94b5;
}

.blue-button:active {
    background-color: rgba(208, 244, 254, 1);
    box-shadow: 0px 3px #80e5ff;
}

.red-button {
    color: #d41200;
    background-color: rgba(254, 118, 44, 1);
    box-shadow: 0px 3px rgba(158, 44, 44, 1);
}

.red-button:active {
    background-color: rgba(255, 206, 150, 1);
    box-shadow: 0px 3px rgba(249, 141, 50, 1);
}

.green-button {
    background-color: rgba(106, 221, 107, 1);
    box-shadow: 0px 3px rgba(13, 113, 7, 1);
}

.green-button:active {
    background-color: rgba(164, 245, 165, 1);
    box-shadow: 0px 3px rgba(29, 170, 20, 1);
}
