

body {
    height:100%;
    margin: 0%;
    padding: 0%;
}

html {
    height:100%;
}

#main-view {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.auto-width { width: auto; }

#test {
    background-color: red;
}

#top {
    flex: none;
    padding-left: 2%;
    padding-top: 2%;
}

#footer {
    flex: none;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 1%;
    font-size: 0.6em;
    text-align: right;
}

#apero-button {
    flex: 0 0 10%;
    border-radius: 5px;
    background-image: url(../img/logo-256.png);
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: 2%, 2%;
    background-color: #80e5ff;
    box-shadow: 0px 3px #0f94b5;
    border:none;
    text-align: center;
    margin: 2%;

    font-style: italic;
    font-weight: bold;
    font-size: 5vh;
    color: #0055d4;
}

#apero-button:active {
    background-color: rgba(208, 244, 254, 1);
    box-shadow: 0px 3px #80e5ff;
}

#logo-img {
    width: 20%;
    float: left;
}

#edit-panel {
    flex: 1 1 main-size;
    background-color: #ffdead;
    border-radius: 5px;
    margin-left: 2%;
    margin-right: 2%;
    overflow: scroll;
    height: 100%
}

#apero-list {
}

.apero-item {
    width: 90%;
    border-radius: 5px;
    padding: 3%;
    margin: 2%;
}

.no-apero-item {
    width: 92%;
    border-radius: 5px;
    padding: 3%;
    margin: 1%;
    font-style: italic;
}

.selected {
    background-color: white;
    box-shadow: 0px 3px #999;
}

.reset-margin {
    margin: 0px;
    padding: 0px;    
}

#apero-wizard {
    height: 96%;
    width: 98%;
    margin: 2%;
    display: flex;
    flex-direction: column;
}

.wizard-field {
    flex: 0 0 auto;
    width: 98%;
    margin: 0%;
    padding: 0%;
}

.wizard-field > input {
    width: 96%;
    padding:2%;
    margin: 0%;
    border: none;
    border-radius: 5px;
    background-color: white;
}

#apero-wizard > textarea {
    flex: 3 1 auto;
    width: 94%;
    padding:2%;
    margin: 0%;
    border: none;
    border-radius: 10px;
    spellcheck: true;
    resize: none;
}

.button-pair {
    width: 100%;
    margin-bottom: 3px;
}

.button-pair > button {
    flex: 0 0 10%;
    width: 48%;
    float: left;
    border: medium none;
    border-radius: 6px;
    margin-top: 2%;
    height: 32px;
}

#apero-cancel {
    background-color: rgba(254, 118, 44, 1);
    box-shadow: 0px 3px rgba(158, 44, 44, 1);
    margin-right: 1%;
}

#apero-cancel:active {
    background-color: rgba(255, 206, 150, 1);
    box-shadow: 0px 3px rgba(249, 141, 50, 1);
}

#apero-ok {
    background-color: rgba(106, 221, 107, 1);
    box-shadow: 0px 3px rgba(13, 113, 7, 1);
    margin-left: 1%;
}

#apero-ok:active {
    background-color: rgba(164, 245, 165, 1);
    box-shadow: 0px 3px rgba(29, 170, 20, 1);
}
